<a href="https://colab.research.google.com/github/morreh89/Carrefour-Kenya-unsupervised-learning-techniques/blob/main/Part_4_Anomaly_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Part 4: Anomaly Detection
You have also been requested to check whether there are any anomalies in the given sales dataset. The objective of this task being fraud detection.

In [39]:
#loading packages
install.packages("factoextra")
library (anomalize)
library(factoextra)
install.packages("tibble")
library(tibble)
install.packages("tidyverse")
library(tidyverse)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [41]:
# loading the dataset
df <- read.csv("Supermarket_Sales4.csv")
head(df)

  Date      Sales
1 1/5/2019  548.9715
2 3/8/2019   80.2200
3 3/3/2019  340.5255
4 1/27/2019 489.0480
5 2/8/2019  634.3785
6 3/25/2019 627.6165

In [42]:
#check the data types of the two columns
sapply(df, class)

       Date       Sales
"character"   "numeric"

In [43]:
#convert the date datatype from factor to date
df$Date <- as.Date(df$Date)
sapply(df, class)

     Date     Sales
   "Date" "numeric"

In [44]:
#convert the dataframe to tibble
Anoma_tb <- as_tibble(df)
head(Anoma_tb)

  Date    Sales
1 1-05-20 548.9715
2 3-08-20  80.2200
3 3-03-20 340.5255
4 <NA>    489.0480
5 2-08-20 634.3785
6 <NA>    627.6165

In [45]:
Anoma_tb <- Anoma_tb %>%
tibbletime::as_tbl_time(index = Date)

In [46]:
Anoma_tb %>%
time_decompose(Date)%>%
anomalize(remainder)%>%
time_recompose()%>%
plot_anomalies(time_recomposed = TRUE, ncol = 3, alpha_dots = 0.5)

ERROR: ignored