<a href="https://colab.research.google.com/github/morreh89/Carrefour-Kenya-unsupervised-learning-techniques/blob/main/Part_4_Anomaly_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Part 4: Anomaly Detection
You have also been requested to check whether there are any anomalies in the given sales dataset. The objective of this task being fraud detection.

In [3]:
# loading the dataset
df <- read.csv("Supermarket_Sales4.csv")
head(df)

  Date      Sales
1 1/5/2019  548.9715
2 3/8/2019   80.2200
3 3/3/2019  340.5255
4 1/27/2019 489.0480
5 2/8/2019  634.3785
6 3/25/2019 627.6165

In [4]:
#check the data types of the two columns
sapply(df, class)

       Date       Sales
"character"   "numeric"

In [15]:
df$Date <- as.POSIXct(df$Date, "%m-%d-%Y",tz = "GMT")

In [25]:
#Extracting the day and month from date and converting day to numeric

df$day <- format(df$Date, "%d")
df$month <- format(df$Date, "%m")
df$day <- as.numeric(df$day)

In [26]:
#convert the date datatype from factor to date
monthly_df <- df %>%
group_by(Date,month) %>% summarise_at(vars(Sales),funs(sum(.,na.rm=TRUE)))

In [28]:
#convert the monthly_df to tibble
monthly_df <- as_tibble(monthly_df)
head(monthly_df)

  Date month Sales
1 <NA> NA    322966.7

In [ ]:
#Detecting Anomalies in monthly sales
monthly_df %>%
  time_decompose(Sales) %>%
  anomalize(remainder) %>%
  time_recompose() %>%
  plot_anomalies(time_recomposed = TRUE, ncol = 3, alpha_dots = 0.5)

In [31]:
# converting overall data to tibble
df_tibble <- as_tibble(df)

In [ ]:
#Detecting Anomalies in the entire dataset
df_tibble %>%
    time_decompose(Sales) %>%
    anomalize(remainder) %>%
    time_recompose() %>%
    plot_anomalies(time_recomposed = TRUE, ncol = 3, alpha_dots = 0.5)